{% extends 'header.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% block title %}<title>{{user.username|title}} |  AniWatch</title> {% endblock %}
<link href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css'>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<style>
    body {
        background-color: #2b2b31;
	    font-family: 'Ubuntu', sans-serif;
    }
    #hint_id_username{
        display:none;
    }
    .row a{
        color: #A41623;
    }
    .padding {
        padding: 3rem !important;
    }
    
    .user-card-full {
        overflow: hidden
    }
    
    .card {
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        margin-bottom: 30px
    }
    
    .m-r-0 {
        margin-right: 0px
    }
    
    .m-l-0 {
        margin-left: 0px
    }
    
    .user-card-full .user-profile {
        border-radius: 5px 0 0 5px
    }
    .col-sm-8{background-color:#A0A0A0;}
    .bg-c-lite-green {
        background: #585858;
    }
    
    .user-profile {
        padding: 20px 0
    }
    
    .card-block {
        padding: 1.25rem
    }
    
    .m-b-25 {
        margin-bottom: 25px
    }
    
    .img-radius {
        border-radius: 5px
    }
    
    h6 {
        font-size: 14px
    }
    
    .card .card-block p {
        line-height: 25px
    }
    
    @media only screen and (min-width: 1400px) {
        p {
            font-size: 14px
        }
    }
    
    .card-block {
        padding: 1.25rem
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }
    
    .m-b-20 {
        margin-bottom: 20px
    }
    
    .p-b-5 {
        padding-bottom: 5px !important
    }
    
    .card .card-block p {
        line-height: 25px
    }
    
    .m-b-10 {
        margin-bottom: 10px
    }
    
    .text-muted {
        color: #919aa3 !important
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }
    
    .f-w-600 {
        font-weight: 600
    }
    
    .m-b-20 {
        margin-bottom: 20px
    }
    
    .m-t-40 {
        margin-top: 20px
    }
    
    .p-b-5 {
        padding-bottom: 5px !important
    }
    
    .m-b-10 {
        margin-bottom: 10px
    }
    
    .m-t-40 {
        margin-top: 20px
    }
    
    .user-card-full .social-link li {
        display: inline-block
    }
    
    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1031;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
      overscroll-behavior: block;
    }
    .errorlist li{
        color:red;
    }
    form p{
        color:gold;
    }
    .overlay-content {
      position: relative;
      top: 10%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    .text-muted{color:#D3D3D3!important}
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }
    .overlay-content{
        background-color:#696969;
        border-radius:25px;
    }
    .form-control{
        width:25vw;
    }.fileinput{font-size:1.3vw;}
</style>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-7 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="{{ user.profile.image.url }}" height="90vw" width="90vw"
                                                          class="img-radius"
                                                          alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600" style="color:#D3D3D3!important;">{{user.first_name | title}}
                                    {{user.last_name | title}}</h6>
                                <div id="myNav" class="overlay">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <div class="overlay-content">
                                        <h1 style="color:orange; font-size:2vw;">Edit Your Information</h1>
                                        <form enctype="multipart/form-data" method="post">
                                            {% csrf_token %}
                                            {{ u_form|crispy }}
                                            {{ p_form|crispy }}
                                            <input type="submit" value="save" class="btn btn-outline-warning"
                                                   name="addtitle">
                                            <div style="margin-top: 10px;"></div>
                                        </form>
                                    </div>
                                </div>
                                <span title="Edit your Information "
                                      style=" color:white; font-size:30px; cursor:pointer"
                                      onclick="openNav()">
                                    &#9997;</span>
                                
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Username</p>
                                        <h6 class="text-muted f-w-400">{{user.username}}</h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{user.email}}</h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Joined Date</p>
                                        <h6 class="text-muted f-w-400">{{user.date_joined}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">EDIT</h6>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="m-b-10 f-w-600"><a href="change_password"
                                                                     style="color:yellow;">Change password</a></p>
                                        <p class="m-b-10 f-w-600"><a href="delete_account/{{user.pk}}"
                                                                     style="color:yellow;"
                                                                     onclick="return confirm('Are you sure you want to deactivate your account?')">Deactivate Account</a></p>
                                        
                                    </div>
                                </div>
                                <ul class="social-link list-unstyled m-t-40 m-b-10">
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.documentElement.style.overflow = 'hidden';
      document.body.scroll = "no";
    }
    
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.documentElement.style.overflow = 'visible';
      document.body.scroll = "yes";
    }
</script>
{% endblock %}
